---
import Layout from '../layouts/Layout.astro'
import '../styles/top.css';

import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '../lib/notion/client.ts'
import {
  buildPostFeaturedImageURLs,
  buildURLToImageMap,
} from '../lib/blog-helpers.ts'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import Pagination from '../components/Pagination.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import styles from '../styles/blog.module.css'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])

const imageURLs = buildPostFeaturedImageURLs(posts).filter(url => url)
const imageURLMap = await buildURLToImageMap(imageURLs)
---

<Layout>
  <div class="container">
    <main>
      <div class="mv">
        <div class="mv_chara"></div>
      </div>

      <h2 class="title">LINK</h2>
      <div class="sec_profile">
        <ul class="profile_list">
          <li>
            <a class="profile_list_item twitter" href='https://twitter.com/bankas_web' target="_blank">
              <p class="text">Twitter</p>
            </a>
          </li>
          <li>
            <a class="profile_list_item blogwp" href='https://sakuttobankas.com/' target="_blank">
              <p class="text">BLOG</p>
            </a>
          </li>
          <li>
            <a class="profile_list_item webwp" href='https://web.sakuttobankas.com/' target="_blank" >
              <p class="text">WEB</p>
            </a>
          </li>
          <li>
            <a class="profile_list_item github" href='https://github.com/bankasss' target="_blank" >
              <p class="text">GitHub</p>
            </a>
          </li>
        </ul>
      </div>

      <h2 class="title">NEWS</h2>
      <section>
        {posts.length === 0 ? (
            <NoContents contents={posts} />
          ) : posts.map(post => (
            <div className={styles.post} key={post.Slug}>
              <PostDate post={post} />
              <PostTags post={post} />
              <PostTitle post={post} />
              <PostFeaturedImage post={post} urlMap={imageURLMap} />
            </div>
          ))}
  
        <footer>
          <Pagination currentPage={1} numberOfPages={numberOfPages} />
        </footer>
      </section>
      
    </main>
  </div>
</Layout>
