---
import { Post } from '../lib/interfaces.ts'
import { getNavLink, getPostLink } from '../lib/blog-helpers.ts'
import PostTags from './PostTags.astro'

export interface Props {
  prevPost: Post
  nextPost: Post
}

const { prevPost, nextPost } = Astro.props
---

<div class="post-relative-link">
  <div>
    {
      nextPost && (
        <a href={getPostLink(nextPost.Slug)} class="colored">
          <div>◀︎ Next</div>
          <div class="next-post-title">{nextPost.Title}</div>
{/*
          <PostTags post={nextPost} enableLink={false} />
*/}
        </a>
      )
    }
  </div>
  <div>
    {
      prevPost && (
        <a href={getPostLink(prevPost.Slug)} class="colored">
          <div>▶︎ Previous</div>
          <div class="prev-post-title">{prevPost.Title}</div>
{/*
          <PostTags post={prevPost} enableLink={false} />
          */}
        </a>
      )
    }
  </div>
  <div>
    <a href={getNavLink('/')} class="text">↑ TOP</a>
  </div>
</div>

<style lang="scss">
  div.post-relative-link {
    margin-top: 1rem;
    > div {
     display: block;
     margin-top: 0.6rem;
      > a {
        display: block;
        text-align: center;
        line-height: 1.2rem;
        font-size: 0.95rem;
        &.text {
          margin-top: 1rem;
          padding: 0.4rem 1.2rem;
          color: inherit;
          font-size: 1rem;
          font-weight: 500;
          background: #2d2d2d;
          width: fit-content;
          margin: 1.2rem auto 0;
          color: #fff;
          border-radius: 999px;
        }
        &.colored {
          padding: 1rem;
          border-radius: var(--radius);
          color: var(--fg);
          background: #f8f8f8;
          > div:first-child {
            width: auto;
            text-align: left;
            font-size: 0.85rem;
          }
          > div:nth-child(2) {
            width: auto;
            padding: 0.2rem 0 0.4rem;
            text-align: left;
            font-size: 1rem;
            font-weight: bold;
          }
        }
      }
    }
  }
  .prev-post-title,.next-post-title {
    margin-top: 0.8rem;
  }
</style>
